.wallet-logo {
  height: 52.293px;
  padding: 0;
  width: 250.185px;
}

.total-header {
  align-items: center;
  color: #003be5;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 5px;
}

.title {
  font-weight: 900;
}

.email-header {
  align-items: center;
  color: #2fc18c;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 5px;
  width: 123px;
}

.header-container {
  align-content: space-around;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
